# Deployment config

# Download & install optional features
INSTALL_STARSHIP=false
INSTALL_PFETCH=false
INSTALL_YAY=false

# Link dotfiles
ALACRITTY=false
ALIASRC=true
AWESOME=true
BASHRC=true
HTOP=true
KITTY=false
NEOVIM=false
PFETCH=true
PICOM=true
PROFILE=true
STARSHIP=true
VIMRC=true
VOLUMEICON=false
XRESOURCES=true
ZSHRC=true

# Link scripts
DMENU_SCRIPTS=true
WICD_LAUNCHER=false
REDSHIFT_LAUNCHER=true
